<?xml version="1.0" encoding="UTF-8"?>
<?meta content="text/html; charset=UTF-8" pageEncoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c" ?>

<zk>
    <div align="center" apply="at.moki.frontend.controller.VerrechnungController">
        <div width="30%">
            <hlayout width="100%">
                <vlayout hflex="1">
                    <grid sclass="gridNoHover">
                        <columns>
                            <column width="30%"/>
                            <column width="70%"/>
                        </columns>
                        <rows>
                            <row>
                                <hlayout>
                                    <label id="lblVerrechnung" value="${c:l('verrechnung.display.new.entry')}"/>
                                </hlayout>
                                <textbox id="txtVerrechnung" maxlength="45" hflex="1" focus="true"/>
                            </row>
                        </rows>
                    </grid>
                    <hlayout>
                        <button id="btnSave" label="${c:l('display.apply')}" sclass="actionButtonSave"/>
                    </hlayout>
                </vlayout>
            </hlayout>
        </div>
        <separator height="5px" />
        <div width="30%">
            <vlayout>
                <listbox id="lboxVerrechnung" hflex="1"
                         sclass="listheaderNoBackground listboxNoHover"
                         use="at.moki.frontend.component.VerrechnungListbox"
                         itemRenderer="at.moki.frontend.renderer.VerrechnungListboxRenderer">
                    <listhead sizable="true">
                        <listheader label="${c:l('verrechnung.header')}" align="center"/>
                    </listhead>
                </listbox>
            </vlayout>
        </div>
    </div>
</zk>