/* ----------------- GENERAL SETTINGS ------------------- */

/* https://www.w3.org/TR/css-variables/ */
:root {
  --main-color: #198C19;
}

.z-loading {
    top: 50% !important;
    left: 45% !important;
    align: center;
    vertical-align: middle;
}

.z-fileupload-manager z-popup z-popup-open {
    top: 50% !important;
    left: 45% !important;
    align: center;
    vertical-align: middle;
}

body {
    padding: 0px;
}

.z-window {
    padding: 0px;
}

.z-window-header {
    padding: 10px;
}

.z-button {
    background-color: var(--main-color);
}

.z-menu-image {
    display: none;
}

.z-menuitem-image {
    display: none;
}

.z-menu-selected>.z-menu-content {
    background-color: var(--main-color);
}

.z-menu-content:active {
    background-color: var(--main-color);
}

.z-menuitem-content:active {
    background-color: var(--main-color);
}

/* combobox / datebox */

.z-combobox-input:focus {
    border-color: var(--main-color);
}

.z-combobox-open .z-combobox-button, .z-datebox-open .z-datebox-button {
    border-color: var(--main-color);
}

.z-combobox-button:hover, .z-datebox-button:hover {
    border-color: var(--main-color);
}

.z-combobox-popup, .z-bandbox-popup, .z-datebox-popup, .z-timebox-popup {
    border: 1px solid var(--main-color);
}

.z-comboitem-selected * {
    color: var(--main-color);
}

.actionButtonsLarge {
    padding: 0px;
    width: 31px;
    margin-left: 4px;
    height: 31px;
}

.actionButtonSave {
    border-radius: 20px;
}

.divPaddingSearch {
    border: 1px solid #D9D9D9;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* -------- used only for releasenotes.zul -------- */

.z-column {
    background-color: white;
    border-left: none;
    border-bottom: none;
}

.z-column-content {
    color: black;
}

.z-grid-header-border {
    border-bottom: 1px solid #D9D9D9;
}

/* -------- Inputboxes -------- */

.z-textbox:focus {
    border-color:  var(--main-color);
}

.z-intbox:focus {
    border-color: var(--main-color);
}

.z-datebox-input:focus {
    border-color: var(--main-color);
}

.z-datebox-button:hover {
    border-color: var(--main-color);
}

input[type="radio"]:checked:before {
    background-color: var(--main-color);
}

input[type="checkbox"]:checked {
    background-color: var(--main-color);
}

/* ----------------------- ICONS ----------------------- */

.z-menu-content i, .z-menuitem-content i {
    margin-right: 4px;
    vertical-align: baseline;
}

/* ------------------------ GRID ------------------------ */
.gridNoHover .z-grid, .z-row-hover, .z-row-inner, .z-grid .z-row-inner,
    .z-row:hover>.z-row-inner, .z-row-content, .z-row-content:hover {
    background: transparent;
}

/* ----------------------- LISTBOX ---------------------- */
.listheaderNoBackground .z-listheader {
    background: white;
    border-left: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.z-listbox-header-border {
    border-bottom: 1px solid #F2F2F2;
    margin-top: -1px;
    position: relative;
}

.z-listitem.z-listitem-selected>.z-listcell {
    background: #FFFFFF;
}

.z-listitem-selected, .z-listcell, .z-listcell-content {
    color: rgba(0, 0, 0, 0.9);
    background: #FFFFFF;
}

/* remove all background colors of listitems  */

.z-listitem-over, .z-listitem-over-seld, .z-listitem-focus, .z-listitem:hover>.z-listcell, .z-listitem.z-listitem-selected:hover>.z-listcell {
    cursor: auto;
    background: transparent;
	position: relative;
}

.z-listitem.z-listitem-selected.z-listitem-focus>.z-listcell, .z-listitem.z-listitem-selected.z-listitem-focus:hover>.z-listcell {
    background: transparent;
    position: relative;
}

.z-listheader-content {
    color: rgba(0, 0, 0, 0.9);
}